<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Repeat Counter Results</title>
  </head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>Your word showed up @Model.GetWordTotal() times!</h1>
				<h4><a href="/">Try another sentence!</a></h4>
			</div>
		</div>
	</body>
</html>
